.movie-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 1rem 0;

	@include responsive(HD) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include responsive(FHD) {
		grid-template-columns: repeat(3, 1fr);
	}
}
.movie-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	padding: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

// .movie-title {
// 	font-size: 2rem;
// }

.movie-thumb {
	object-fit: contain;
	max-height: 50vh;
	max-width: 100%;
	@include orientation(landscape) {
		float: left;
		margin-right: 1rem;
	}
	@include responsive(Tablet) {
		max-width: 50%;
		float: left;
		margin-right: 1rem;
		// margin-bottom: 1rem;
	}
}

.movie-info {
	// flex-direction: column;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	@include orientation(landscape) {
		display: block;
	}
	@include responsive(Tablet) {
		display: block;
	}
}

.movie-info-short {
	display: block;
}

.movie-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	font-size: ms(1);
	@include orientation(landscape) {
		flex-direction: row;
	}
	@include responsive(Tablet) {
		flex-direction: row;
	}
}
.movie-link {
	width: 100%;
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	list-style-type: none;
	background-color: $link-color;
	color: $tag-text-color;
	text-decoration: none;
	text-align: center;
}

.movie-info-group {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.movie-info-summary {
	margin: 1rem 0;
}

.movie-info-heading {
	margin-bottom: 0.5rem;
}

.movie-tag {
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	list-style-type: none;
	background-color: $link-color;
	color: $tag-text-color;
	text-decoration: none;
	text-align: center;
}

.movie-tag-list {
	display: flex;
	flex-wrap: wrap;
}
