.movie-list {
	display: flex;
	@media only screen and (min-width: 992px) {
		& {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
.movie-container {
	flex: 0 32%;
	width: 100%;
	min-height: 100%;

	// display: flex;
	// flex-direction: row;
	// justify-content: flex-start;
	margin: 0.5rem;
	padding: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.movie-title {
	font-size: 2rem;
}

.movie-thumb {
	object-fit: contain;
	max-height: 40vh;
	max-width: 100%;
	float: left;
	margin: 1rem;
}

.movie-info {
	display: block;
	width: 100%;
	// flex-direction: column;
}

.movie-tag {
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	list-style-type: none;
	background-color: #283038;
	color: #99aabb;
	text-decoration: none;
}

.movie-tag-list {
	display: flex;
	flex-wrap: wrap;
}
